---
title: "Career Totals"
---

<div class="slowmonkeytab">
    <button class="tablinks active" onclick="openTab(event, 'PlayerCareerTotals')">Player Career Totals</button>
    <button class="tablinks" onclick="openTab(event, 'PlayerCareerAverages')">Player Career Averages</button>
</div>

<div id="PlayerCareerTotals" class="slowmonkeytabcontent" style="display: block;">
    <table class="stats-table sortable">
        <thead>
            <tr>
                <th>Player</th>
                <th>Games</th>
                <th>FTM</th>
                <th>FTA</th>
                <th>FT%</th>
                <th>2PM</th>
                <th>2PA</th>
                <th>2P%</th>
                <th>3PM</th>
                <th>3PA</th>
                <th>3P%</th>
                <th>FGM</th>
                <th>FGA</th>
                <th>FG%</th>
                <th>PTS</th>
                <th>OREB</th>
                <th>DREB</th>
                <th>REB</th>
                <th>AST</th>
                <th>STL</th>
                <th>BLK</th>
                <th>TOV</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Fan Pts</th>
                <th>+/-</th>
            </tr>
        </thead>
        <tbody>
            {% for item in stats.careerStats %}
                <tr>
                    <td>{{ item.Player }}</td>
                    <td>{{ item.Games }}</td>
                    <td>{{ item.FTM }}</td>
                    <td>{{ item.FTA }}</td>
                    <td>{{ item["FT%"] | percentage }}</td>
                    <td>{{ item.2PM }}</td>
                    <td>{{ item.2PA }}</td>
                    <td>{{ item["2PT%"] | percentage }}</td>
                    <td>{{ item.3PM }}</td>
                    <td>{{ item.3PA }}</td>
                    <td>{{ item["3PT%"] | percentage }}</td>
                    <td>{{ item.FGM }}</td>
                    <td>{{ item.FGA }}</td>
                    <td>{{ item["FG%"] | percentage }}</td>
                    <td>{{ item.TotalPoints }}</td>
                    <td>{{ item.OReb }}</td>
                    <td>{{ item.DReb }}</td>
                    <td>{{ item.TotalRebounds }}</td>
                    <td>{{ item.Assists }}</td>
                    <td>{{ item.Steals }}</td>
                    <td>{{ item.Blocks }}</td>
                    <td>{{ item.TOV }}</td>
                    <td>{{ item.Wins }}</td>
                    <td>{{ item.Losses }}</td>
                    <td>{{ item.FanPoints }}</td>
                    <td>{{ item.PlusMinus }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div id="PlayerCareerAverages" class="slowmonkeytabcontent" style="display: block;">
    <table class="stats-table sortable">
        <thead>
            <tr>
                <th>Player</th>
                <th>Games</th>
                <th>FTM</th>
                <th>FTA</th>
                <th>FT%</th>
                <th>2PM</th>
                <th>2PA</th>
                <th>2P%</th>
                <th>3PM</th>
                <th>3PA</th>
                <th>3P%</th>
                <th>FGM</th>
                <th>FGA</th>
                <th>FG%</th>
                <th>PTS</th>
                <th>OREB</th>
                <th>DREB</th>
                <th>REB</th>
                <th>AST</th>
                <th>STL</th>
                <th>BLK</th>
                <th>TOV</th>
                <th>Fan Pts</th>
            </tr>
        </thead>
        <tbody>
            {% for item in stats.careerStatsAverage %}
                <tr>
                    <td>{{ item.Player }}</td>
                    <td>{{ item.Games }}</td>
                    <td>{{ item.FTM | twoDecimalPoints }}</td>
                    <td>{{ item.FTA | twoDecimalPoints }}</td>
                    <td>{{ item["FT%"] | percentage }}</td>
                    <td>{{ item.2PM | twoDecimalPoints }}</td>
                    <td>{{ item.2PA | twoDecimalPoints }}</td>
                    <td>{{ item["2PT%"] | percentage}}</td>
                    <td>{{ item.3PM | twoDecimalPoints }}</td>
                    <td>{{ item.3PA | twoDecimalPoints }}</td>
                    <td>{{ item["3PT%"] | percentage }}</td>
                    <td>{{ item.FGM | twoDecimalPoints }}</td>
                    <td>{{ item.FGA | twoDecimalPoints }}</td>
                    <td>{{ item["FG%"] | percentage }}</td>
                    <td>{{ item.TotalPoints | twoDecimalPoints }}</td>
                    <td>{{ item.OReb | twoDecimalPoints }}</td>
                    <td>{{ item.DReb | twoDecimalPoints }}</td>
                    <td>{{ item.TotalRebounds | twoDecimalPoints }}</td>
                    <td>{{ item.Assists | twoDecimalPoints }}</td>
                    <td>{{ item.Steals | twoDecimalPoints }}</td>
                    <td>{{ item.Blocks | twoDecimalPoints }}</td>
                    <td>{{ item.TOV | twoDecimalPoints }}</td>
                    <td>{{ item.FanPoints | twoDecimalPoints }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>