---
layout: base
permalink: /
---

<h1>Leader Board</h1>

<div class="slowmonkeytab">
    <button class="tablinks" onclick="openTab(event, 'BestGame')">Best Game</button>
    <button class="tablinks" onclick="openTab(event, 'BestGameAverages')">Best Game Averages</button>
    <button class="tablinks" onclick="openTab(event, 'BestWeek')">Best Week</button>
    <button class="tablinks active" onclick="openTab(event, '2025')">2025</button>
    <button class="tablinks" onclick="openTab(event, '2024')">2024</button>
    <button class="tablinks " onclick="openTab(event, '2022')">2022</button>
    <button class="tablinks" onclick="openTab(event, '2021')">2021</button>
    <button class="tablinks" onclick="openTab(event, '2020')">2020</button>
</div>

<div id="BestGame" class="slowmonkeytabcontent">
    <table class="stats-table">
        <tbody>
            <tr>
                <td>
                    <h2>Points</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>Points</th>
                                <th>FGM</th>
                                <th>FGA</th>
                                <th>FG%</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats.leaderBoardStats.bestGames.TotalPoints %}
                                <tr>
                                    <td>{{ item.TotalPoints }}</td>
                                    <td>{{ item.FGM }}</td>
                                    <td>{{ item.FGA }}</td>
                                    <td>{{ item["FG%"] | percentage}}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>
                    <h2>2PM</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>2PM</th>
                                <th>2PA</th>
                                <th>2PT%</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats
                                .leaderBoardStats
                                .bestGames["2PM"] %}
                                <tr>
                                    <td>{{ item["2PM"] }}</td>
                                    <td>{{ item["2PA"] }}</td>
                                    <td>{{ item["2PT%"] | percentage }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>
                    <h2>3PM</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>3PM</th>
                                <th>3PA</th>
                                <th>3PT%</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats
                                .leaderBoardStats
                                .bestGames["3PM"] %}
                                <tr>
                                    <td>{{ item["3PM"] }}</td>
                                    <td>{{ item["3PA"] }}</td>
                                    <td>{{ item["3PT%"] | percentage }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td>
                    <h2>Total Rebounds</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>Rebounds</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats.leaderBoardStats.bestGames.TotalRebounds %}
                                <tr>
                                    <td>{{ item.TotalRebounds }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>
                    <h2>Total Offensive Rebounds</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>Offensive Rebounds</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats.leaderBoardStats.bestGames.OReb %}
                                <tr>
                                    <td>{{ item.OReb }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>
                    <h2>Total Defensive Rebounds</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>Defensive Rebounds</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats.leaderBoardStats.bestGames.DReb %}
                                <tr>
                                    <td>{{ item.DReb }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td>
                    <h2>Total Assists</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>Assists</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats.leaderBoardStats.bestGames.Assists %}
                                <tr>
                                    <td>{{ item.Assists }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>
                    <h2>Total Steals</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>Steals</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats.leaderBoardStats.bestGames.Steals %}
                                <tr>
                                    <td>{{ item.Steals }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>
                    <h2>Total Blocks</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>Blocks</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats.leaderBoardStats.bestGames.Blocks %}
                                <tr>
                                    <td>{{ item.Blocks }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td>
                    <h2>Fan Points</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>Fan Points</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats.leaderBoardStats.bestGames.FanPoints %}
                                <tr>
                                    <td>{{ item.FanPoints }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="BestGameAverages" class="slowmonkeytabcontent">
    <table class="stats-table">
        <tbody>
            <tr>
                <td>
                    <h2>Points</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>Points</th>
                                <th>FGM</th>
                                <th>FGA</th>
                                <th>FG%</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats.leaderBoardStats.bestGameAverages.TotalPoints %}
                                <tr>
                                    <td>{{ item.TotalPoints | twoDecimalPoints }}</td>
                                    <td>{{ item.FGM | twoDecimalPoints }}</td>
                                    <td>{{ item.FGA | twoDecimalPoints }}</td>
                                    <td>{{item["FG%"] | percentage}}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>
                    <h2>2PM</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>2PM</th>
                                <th>2PA</th>
                                <th>2PT%</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats
                                .leaderBoardStats
                                .bestGameAverages["2PM"] %}
                                <tr>
                                    <td>{{ item["2PM"] | twoDecimalPoints }}</td>
                                    <td>{{ item["2PA"] | twoDecimalPoints }}</td>
                                    <td>{{ item["2PT%"] | percentage }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>
                    <h2>3PM</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>3PM</th>
                                <th>3PA</th>
                                <th>3PT%</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats
                                .leaderBoardStats
                                .bestGameAverages["3PM"] %}
                                <tr>
                                    <td>{{ item["3PM"] | twoDecimalPoints }}</td>
                                    <td>{{ item["3PA"] | twoDecimalPoints }}</td>
                                    <td>{{ item["3PT%"] | percentage }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td>
                    <h2>Total Rebounds</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>Rebounds</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats.leaderBoardStats.bestGameAverages.TotalRebounds %}
                                <tr>
                                    <td>{{ item.TotalRebounds | twoDecimalPoints }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>
                    <h2>Total Offensive Rebounds</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>Offensive Rebounds</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats.leaderBoardStats.bestGameAverages.OReb %}
                                <tr>
                                    <td>{{ item.OReb | twoDecimalPoints }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>
                    <h2>Total Defensive Rebounds</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>Defensive Rebounds</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats.leaderBoardStats.bestGameAverages.DReb %}
                                <tr>
                                    <td>{{ item.DReb | twoDecimalPoints }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td>
                    <h2>Total Assists</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>Assists</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats.leaderBoardStats.bestGameAverages.Assists %}
                                <tr>
                                    <td>{{ item.Assists | twoDecimalPoints }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>
                    <h2>Total Steals</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>Steals</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats.leaderBoardStats.bestGameAverages.Steals %}
                                <tr>
                                    <td>{{ item.Steals | twoDecimalPoints }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>
                    <h2>Total Blocks</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>Blocks</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats.leaderBoardStats.bestGameAverages.Blocks %}
                                <tr>
                                    <td>{{ item.Blocks | twoDecimalPoints }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td>
                    <h2>Fan Points</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>Fan Points</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats.leaderBoardStats.bestGameAverages.FanPoints %}
                                <tr>
                                    <td>{{ item.FanPoints | twoDecimalPoints }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="BestWeek" class="slowmonkeytabcontent">
    <table class="stats-table">
        <tbody>
            <tr>
                <td>
                    <h2>Points</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>Points</th>
                                <th>FGM</th>
                                <th>FGA</th>
                                <th>FG%</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats.leaderBoardStats.bestWeek.TotalPoints %}
                                <tr>
                                    <td>{{ item.TotalPoints }}</td>
                                    <td>{{ item.FGM }}</td>
                                    <td>{{ item.FGA }}</td>
                                    <td>{{item["FG%"] | percentage}}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>
                    <h2>2PM</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>2PM</th>
                                <th>2PA</th>
                                <th>2PT%</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats
                                .leaderBoardStats
                                .bestWeek["2PM"] %}
                                <tr>
                                    <td>{{ item["2PM"] }}</td>
                                    <td>{{ item["2PA"] }}</td>
                                    <td>{{ item["2PT%"] | percentage }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>
                    <h2>3PM</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>3PM</th>
                                <th>3PA</th>
                                <th>3PT%</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats
                                .leaderBoardStats
                                .bestWeek["3PM"] %}
                                <tr>
                                    <td>{{ item["3PM"] }}</td>
                                    <td>{{ item["3PA"] }}</td>
                                    <td>{{ item["3PT%"] | percentage }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td>
                    <h2>Total Rebounds</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>Rebounds</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats.leaderBoardStats.bestWeek.TotalRebounds %}
                                <tr>
                                    <td>{{ item.TotalRebounds }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>
                    <h2>Total Offensive Rebounds</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>Offensive Rebounds</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats.leaderBoardStats.bestWeek.OReb %}
                                <tr>
                                    <td>{{ item.OReb }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>
                    <h2>Total Defensive Rebounds</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>Defensive Rebounds</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats.leaderBoardStats.bestWeek.DReb %}
                                <tr>
                                    <td>{{ item.DReb }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td>
                    <h2>Total Assists</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>Assists</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats.leaderBoardStats.bestWeek.Assists %}
                                <tr>
                                    <td>{{ item.Assists }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>
                    <h2>Total Steals</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>Steals</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats.leaderBoardStats.bestWeek.Steals %}
                                <tr>
                                    <td>{{ item.Steals }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>
                    <h2>Total Blocks</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>Blocks</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats.leaderBoardStats.bestWeek.Blocks %}
                                <tr>
                                    <td>{{ item.Blocks }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td>
                    <h2>Fan Points</h2>
                    <table class="stats-table withrank">
                        <thead>
                            <tr>
                                <th>Fan Points</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stats.leaderBoardStats.bestWeek.FanPoints %}
                                <tr>
                                    <td>{{ item.FanPoints }}</td>
                                    <td>{{ item.Player }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% for year in[2025, 2024, 2022, 2021, 2020] %}
    <div id="{{year}}" class="slowmonkeytabcontent" {% if year == 2024 %}style="display: block;"{% endif %}>
        <table class="stats-table">
            <tbody>
                <tr>
                    <td>
                        <h2>Total Points</h2>
                        <table class="stats-table">
                            <thead>
                                <tr>
                                    <th>Points</th>
                                    <th>FGM</th>
                                    <th>FGA</th>
                                    <th>FG%</th>
                                    <th>Player</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in stats
                                    .leaderBoardStats[year]
                                    .totals
                                    .TotalPoints %}
                                    <tr>
                                        <td>{{ item.TotalPoints }}</td>
                                        <td>{{ item.FGM }}</td>
                                        <td>{{ item.FGA }}</td>
                                        <td>{{ item["FG%"] | percentage}}</td>
                                        <td>{{ item.Player }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <h2>FG%</h2>
                        <table class="stats-table">
                            <thead>
                                <tr>
                                    <th>FG%</th>
                                    <th>Player</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in stats
                                    .leaderBoardStats[year]
                                    .totals["FG%"] %}
                                    <tr>
                                        <td>{{ item["FG%"] | percentage }}</td>
                                        <td>{{ item.Player }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <td>
                        <h2>Total Rebounds</h2>
                        <table class="stats-table">
                            <thead>
                                <tr>
                                    <th>Rebounds</th>
                                    <th>Player</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in stats
                                    .leaderBoardStats[year]
                                    .totals
                                    .TotalRebounds %}
                                    <tr>
                                        <td>{{ item.TotalRebounds }}</td>
                                        <td>{{ item.Player }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <h2>Total Offensive Rebounds</h2>
                        <table class="stats-table">
                            <thead>
                                <tr>
                                    <th>Offensive Rebounds</th>
                                    <th>Player</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in stats
                                    .leaderBoardStats[year]
                                    .totals
                                    .OReb %}
                                    <tr>
                                        <td>{{ item.OReb }}</td>
                                        <td>{{ item.Player }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <h2>Total Defensive Rebounds</h2>
                        <table class="stats-table">
                            <thead>
                                <tr>
                                    <th>Defensive Rebounds</th>
                                    <th>Player</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in stats
                                    .leaderBoardStats[year]
                                    .totals
                                    .DReb %}
                                    <tr>
                                        <td>{{ item.DReb }}</td>
                                        <td>{{ item.Player }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <td>
                        <h2>Total Assists</h2>
                        <table class="stats-table">
                            <thead>
                                <tr>
                                    <th>Assists</th>
                                    <th>Player</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in stats
                                    .leaderBoardStats[year]
                                    .totals
                                    .Assists %}
                                    <tr>
                                        <td>{{ item.Assists }}</td>
                                        <td>{{ item.Player }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <h2>Total Steals</h2>
                        <table class="stats-table">
                            <thead>
                                <tr>
                                    <th>Steals</th>
                                    <th>Player</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in stats
                                    .leaderBoardStats[year]
                                    .totals
                                    .Steals %}
                                    <tr>
                                        <td>{{ item.Steals }}</td>
                                        <td>{{ item.Player }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <h2>Total Blocks</h2>
                        <table class="stats-table">
                            <thead>
                                <tr>
                                    <th>Blocks</th>
                                    <th>Player</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in stats
                                    .leaderBoardStats[year]
                                    .totals
                                    .Blocks %}
                                    <tr>
                                        <td>{{ item.Blocks }}</td>
                                        <td>{{ item.Player }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <td>
                        <h2>Fan Points</h2>
                        <table class="stats-table withrank">
                            <thead>
                                <tr>
                                    <th>Fan Points</th>
                                    <th>Player</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in stats
                                    .leaderBoardStats[year]
                                    .totals
                                    .FanPoints %}
                                    <tr>
                                        <td>{{ item.FanPoints }}</td>
                                        <td>{{ item.Player }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endfor %}

<script>
    function openTab(evt, tabName) {
        // Declare all variables
        var i,
            tabcontent,
            tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("slowmonkeytabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i]
                .className
                .replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document
            .getElementById(tabName)
            .style
            .display = "block";
        evt.currentTarget.className += " active";
    }
</script>