---
title: "Player Stats Home"
---

<div class="player-selection-drop-down">
    <select name="player-names-dropdown" id="player-names-dropdown">
        {# {% set player-stats-home-literal = "player-stats-home" %} #}
        <option selected value="{{ 'player-stats-home' | url }}">Unselected</option>
    {% for playerName in stats.players %}
        <option value="/{{ playerName | slugify | url }}/">{{ playerName }}</option>
    {% endfor %}
    </select>
</div>

<script type="text/javascript">
    var urlmenu = document.getElementById('player-names-dropdown');
    urlmenu.onchange = function() {
        window.location = `${this.options[this.selectedIndex].value}`;
    };
</script>

<p>Please select a player to start</p>