---
layout: base-player-stats.njk
pagination:
    data: stats.playersStats
    size: 1
    alias: player
permalink: "player-stats/{{ player.name | slugify }}/"
---

<div class="player-selection-drop-down">
    <label for"player-names-dropdown" class="dropdown-label">Player:</label>
    <select name="player-names-dropdown" id="player-names-dropdown" class="dropdown">
        <option value="{{ '/player-stats-home/' | url }}">Unselected</option>
        {% for playerStat in stats.playersStats %}
            {% set slugifiedPlayerStatName = [playerStat.name] | slugify %}
            {% set itemValue = ["/player-stats/", slugifiedPlayerStatName, "/"] | join %}
            <option {% if playerStat.name === player.name %}
                    selected=true
                {% endif %} value="{{ itemValue | url }}">{{ playerStat.name }}</option>
        {% endfor %}
    </select>
</div>

<script type="text/javascript">
    var urlmenu = document.getElementById('player-names-dropdown');
    urlmenu.onchange = function () {
        window.location = `${this
            .options[this.selectedIndex]
            .value}`;
    };
</script>

{# <div class="slowmonkeytab">
    {# <button class="tablinks active" onclick="openTab(event, 'PlayerStats')">Player Stats</button>
    <button class="tablinks" onclick="openTab(event, 'PlayerCharts')">Charts</button> #}
{# {% set slugifiedPlayerName = [player.name] | slugify %}
{% set chartUrl = ["/player-charts/", slugifiedPlayerName, "/"] | join %} #}
{# <button class="tablinks active" onclick="">Player Stats</button> #}
{# <button class="tablinks" disabled onclick="location.href='{{ chartUrl | url }}'">Charts</button> #}
{# </div> #}

<div class="slowmonkeytab">
    <button class="tablinks active" onclick="openTab(event, 'PlayerStats')">Player Stats</button>
    <button class="tablinks" onclick="openTab(event, 'PlayerYearlyTotals')">Player Yearly Totals</button>
    <button class="tablinks" onclick="openTab(event, 'PlayerYearlyAverages')">Player Yearly Averages Per Game</button>
</div>

<div id="PlayerStats" class="slowmonkeytabcontent" style="display: block;">
    <table class="stats-table sortable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Team</th>
                <th>Opponent</th>
                <th>Game</th>
                <th>FTM</th>
                <th>FTA</th>
                <th>FT%</th>
                <th>2PM</th>
                <th>2PA</th>
                <th>2P%</th>
                <th>3PM</th>
                <th>3PA</th>
                <th>3P%</th>
                <th>FGM</th>
                <th>FGA</th>
                <th>FG%</th>
                <th>PTS</th>
                <th>OREB</th>
                <th>DREB</th>
                <th>REB</th>
                <th>AST</th>
                <th>STL</th>
                <th>BLK</th>
                <th>TOV</th>
                <th>Fan Pts</th>
                <th>+/-</th>
                <th>Win/Loss</th>
            </tr>
        </thead>
        <tbody>
            {% for item in player.stats %}
                <tr>
                    <td>{{ item.Date | statsdate }}</td>
                    <td>{{ item.Team }}</td>
                    <td>{{ item.Opponent }}</td>
                    <td>{{ item.Game }}</td>
                    <td>{{ item.FTM }}</td>
                    <td>{{ item.FTA }}</td>
                    <td>{{ item["FT%"] | percentage }}</td>
                    <td>{{ item.2PM }}</td>
                    <td>{{ item.2PA }}</td>
                    <td>{{ item["2PT%"] | percentage }}</td>
                    <td>{{ item.3PM }}</td>
                    <td>{{ item.3PA }}</td>
                    <td>{{ item["3PT%"] | percentage }}</td>
                    <td>{{ item.FGM }}</td>
                    <td>{{ item.FGA }}</td>
                    <td>{{ item["FG%"] | percentage }}</td>
                    <td>{{ item.TotalPoints }}</td>
                    <td>{{ item.OReb }}</td>
                    <td>{{ item.DReb }}</td>
                    <td>{{ item.TotalRebounds }}</td>
                    <td>{{ item.Assists }}</td>
                    <td>{{ item.Steals }}</td>
                    <td>{{ item.Blocks }}</td>
                    <td>{{ item.TOV }}</td>
                    <td>{{ item.FanPoints }}</td>
                    <td>{{ item.PlusMinus }}</td>
                    <td>{{ item["Win/Loss"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div id="PlayerYearlyTotals" class="slowmonkeytabcontent">
    <table class="stats-table">
        <thead>
            <tr>
                <th>Year</th>
                <th>Games</th>
                <th>FTM</th>
                <th>FTA</th>
                <th>FT%</th>
                <th>2PM</th>
                <th>2PA</th>
                <th>2P%</th>
                <th>3PM</th>
                <th>3PA</th>
                <th>3P%</th>
                <th>FGM</th>
                <th>FGA</th>
                <th>FG%</th>
                <th>PTS</th>
                <th>OREB</th>
                <th>DREB</th>
                <th>REB</th>
                <th>AST</th>
                <th>STL</th>
                <th>BLK</th>
                <th>TOV</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Fan Pts</th>
                <th>+/-</th>
            </tr>
        </thead>
        <tbody>
            {% for item in stats.yearlyStats %}
                {% if item.Player == player.name %}
                    <tr>
                        <td>{{ item.Year }}</td>
                        <td>{{ item.Games }}</td>
                        <td>{{ item.FTM }}</td>
                        <td>{{ item.FTA }}</td>
                        <td>{{ item["FT%"] | percentage }}</td>
                        <td>{{ item.2PM }}</td>
                        <td>{{ item.2PA }}</td>
                        <td>{{ item["2PT%"] | percentage }}</td>
                        <td>{{ item.3PM }}</td>
                        <td>{{ item.3PA }}</td>
                        <td>{{ item["3PT%"] | percentage }}</td>
                        <td>{{ item.FGM }}</td>
                        <td>{{ item.FGA }}</td>
                        <td>{{ item["FG%"] | percentage }}</td>
                        <td>{{ item.TotalPoints }}</td>
                        <td>{{ item.OReb }}</td>
                        <td>{{ item.DReb }}</td>
                        <td>{{ item.TotalRebounds }}</td>
                        <td>{{ item.Assists }}</td>
                        <td>{{ item.Steals }}</td>
                        <td>{{ item.Blocks }}</td>
                        <td>{{ item.TOV }}</td>
                        <td>{{ item.Wins }}</td>
                        <td>{{ item.Losses }}</td>
                        <td>{{ item.FanPoints }}</td>
                        <td>{{ item.PlusMinus }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        <tfoot>
            {% for item in stats.careerStats %}
                {% if item.Player == player.name %}
                    <tr>
                        <td><b>Career</b></td>
                        <td>{{ item.Games }}</td>
                        <td>{{ item.FTM }}</td>
                        <td>{{ item.FTA }}</td>
                        <td>{{ item["FT%"] | percentage }}</td>
                        <td>{{ item.2PM }}</td>
                        <td>{{ item.2PA }}</td>
                        <td>{{ item["2PT%"] | percentage }}</td>
                        <td>{{ item.3PM }}</td>
                        <td>{{ item.3PA }}</td>
                        <td>{{ item["3PT%"] | percentage }}</td>
                        <td>{{ item.FGM }}</td>
                        <td>{{ item.FGA }}</td>
                        <td>{{ item["FG%"] | percentage }}</td>
                        <td>{{ item.TotalPoints }}</td>
                        <td>{{ item.OReb }}</td>
                        <td>{{ item.DReb }}</td>
                        <td>{{ item.TotalRebounds }}</td>
                        <td>{{ item.Assists }}</td>
                        <td>{{ item.Steals }}</td>
                        <td>{{ item.Blocks }}</td>
                        <td>{{ item.TOV }}</td>
                        <td>{{ item.Wins }}</td>
                        <td>{{ item.Losses }}</td>
                        <td>{{ item.FanPoints }}</td>
                        <td>{{ item.PlusMinus }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tfoot>
    </table>
</div>

<div id="PlayerYearlyAverages" class="slowmonkeytabcontent">
    <table class="stats-table">
        <thead>
            <tr>
                <th>Year</th>
                <th>Games</th>
                <th>FTM</th>
                <th>FTA</th>
                <th>FT%</th>
                <th>2PM</th>
                <th>2PA</th>
                <th>2P%</th>
                <th>3PM</th>
                <th>3PA</th>
                <th>3P%</th>
                <th>FGM</th>
                <th>FGA</th>
                <th>FG%</th>
                <th>PTS</th>
                <th>OREB</th>
                <th>DREB</th>
                <th>REB</th>
                <th>AST</th>
                <th>STL</th>
                <th>BLK</th>
                <th>TOV</th>
                <th>Fan Pts</th>
            </tr>
        </thead>
        <tbody>
            {% for item in stats.yearlyStatsAverage %}
                {% if item.Player == player.name %}
                    <tr>
                        <td>{{ item.Year }}</td>
                        <td>{{ item.Games }}</td>
                        <td>{{ item.FTM | twoDecimalPoints }}</td>
                        <td>{{ item.FTA | twoDecimalPoints }}</td>
                        <td>{{ item["FT%"] | percentage }}</td>
                        <td>{{ item.2PM | twoDecimalPoints }}</td>
                        <td>{{ item.2PA | twoDecimalPoints }}</td>
                        <td>{{ item["2PT%"] | percentage}}</td>
                        <td>{{ item.3PM | twoDecimalPoints }}</td>
                        <td>{{ item.3PA | twoDecimalPoints }}</td>
                        <td>{{ item["3PT%"] | percentage }}</td>
                        <td>{{ item.FGM | twoDecimalPoints }}</td>
                        <td>{{ item.FGA | twoDecimalPoints }}</td>
                        <td>{{ item["FG%"] | percentage }}</td>
                        <td>{{ item.TotalPoints | twoDecimalPoints }}</td>
                        <td>{{ item.OReb | twoDecimalPoints }}</td>
                        <td>{{ item.DReb | twoDecimalPoints }}</td>
                        <td>{{ item.TotalRebounds | twoDecimalPoints }}</td>
                        <td>{{ item.Assists | twoDecimalPoints }}</td>
                        <td>{{ item.Steals | twoDecimalPoints }}</td>
                        <td>{{ item.Blocks | twoDecimalPoints }}</td>
                        <td>{{ item.TOV | twoDecimalPoints }}</td>
                        <td>{{ item.FanPoints | twoDecimalPoints }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        <tfoot>
            {% for item in stats.careerStatsAverage %}
                {% if item.Player == player.name %}
                    <tr>
                        <td><b>Career</b></td>
                        <td>{{ item.Games }}</td>
                        <td>{{ item.FTM | twoDecimalPoints }}</td>
                        <td>{{ item.FTA | twoDecimalPoints }}</td>
                        <td>{{ item["FT%"] | percentage }}</td>
                        <td>{{ item.2PM | twoDecimalPoints }}</td>
                        <td>{{ item.2PA | twoDecimalPoints }}</td>
                        <td>{{ item["2PT%"] | percentage}}</td>
                        <td>{{ item.3PM | twoDecimalPoints }}</td>
                        <td>{{ item.3PA | twoDecimalPoints }}</td>
                        <td>{{ item["3PT%"] | percentage }}</td>
                        <td>{{ item.FGM | twoDecimalPoints }}</td>
                        <td>{{ item.FGA | twoDecimalPoints }}</td>
                        <td>{{ item["FG%"] | percentage }}</td>
                        <td>{{ item.TotalPoints | twoDecimalPoints }}</td>
                        <td>{{ item.OReb | twoDecimalPoints }}</td>
                        <td>{{ item.DReb | twoDecimalPoints }}</td>
                        <td>{{ item.TotalRebounds | twoDecimalPoints }}</td>
                        <td>{{ item.Assists | twoDecimalPoints }}</td>
                        <td>{{ item.Steals | twoDecimalPoints }}</td>
                        <td>{{ item.Blocks | twoDecimalPoints }}</td>
                        <td>{{ item.TOV | twoDecimalPoints }}</td>
                        <td>{{ item.FanPoints | twoDecimalPoints }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tfoot>
    </table>
</div>
<script>
    function openTab(evt, tabName) {
        // Declare all variables
        var i,
            tabcontent,
            tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("slowmonkeytabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i]
                .className
                .replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document
            .getElementById(tabName)
            .style
            .display = "block";
        evt.currentTarget.className += " active";
    }
</script>