---
title: "Weekly Stats Home"
---

<div class="week-selection-drop-down">
    <select name="week-dropdown" id="week-dropdown">
        <option selected value="Unselected">Unselected</option>
    {% for availableWeek in stats.availableWeeks %}
        <option value="/{{ availableWeek.Date | statsdate | slugify }}/">{{ availableWeek.Date | statsdate }}</option>
    {% endfor %}
    </select>
</div>

<script type="text/javascript">
    var urlmenu = document.getElementById('player-names-dropdown');
    urlmenu.onchange = function() {
        if (this.options[this.selectedIndex].value === "Unselected") {
            window.location = `/weekly-stats-home/`;
        }
        else {
            window.location = `/weekly-stats${this.options[this.selectedIndex].value}`;
        }
    };
</script>

<p>Please select a week to start</p>