---
layout: base-weekly-stats.njk
pagination:
    data: stats.weeklyStats
    size: 1
    alias: week
permalink: "weekly-stats/{{ week.date | url }}/"
---
<div class="week-selection-drop-down">
    <select name="week-dropdown" id="week-dropdown">
        <option value="{{ '/week-stats-home/' | url }}">Unselected</option>
    {% for availableWeek in stats.availableWeeks %}
        {% set dateValue = ["/weekly-stats/", availableWeek, "/"] | join %}
        <option {% if availableWeek === week.date %} 
                    selected=true 
                {% endif %} value="{{ dateValue | url }}">{{ availableWeek }}</option>
    {% endfor %}
    </select>
</div>

<script type="text/javascript">
    var urlmenu = document.getElementById('week-dropdown');
    urlmenu.onchange = function() {
        window.location = `${this.options[this.selectedIndex].value}`;
    };
</script>

<div class="tab">
    <button class="tablinks active" onclick="openTab(event, 'TeamSummary')">Team Summary</button>
    <button class="tablinks" onclick="openTab(event, 'Summary')">Summary</button>
    <button class="tablinks" onclick="openTab(event, 'Games')">Games</button>
</div>

<div id="TeamSummary" class="tabcontent" style="display: block;">
    <h3>Team Summary</h3>
    <table class="stats-table sortable">
        <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Games</th>
            <th>FTM</th>
            <th>FTA</th>
            <th>FT%</th>
            <th>2PM</th>
            <th>2PA</th>
            <th>2P%</th>
            <th>3PM</th>
            <th>3PA</th>
            <th>3P%</th>
            <th>O Reb</th>
            <th>D Reb</th>
            <th>Assists</th>
            <th>Steals</th>
            <th>Blocks</th>
            <th>TOV</th>
            <th>Total Points</th>
            <th>FGM</th>
            <th>FGA</th>
            <th>FG%</th>
            <th>Total Rebounds</th>
            <th>Fan Points</th>
            <th>Wins</th>
            <th>Losses</th>
        </tr>
    {% for item in week.playerTotals %}
        {% if item.Team == 1 %}
        <tr>
            <td>{{ item.Player }}</td>
            <td>{{ item.Team }}</td>
            <td>{{ item.Games }}</td>
            <td>{{ item.FTM }}</td>
            <td>{{ item.FTA }}</td>
            <td>{{ item["FT%"] | percentage }}</td>
            <td>{{ item.2PM }}</td>
            <td>{{ item.2PA }}</td>
            <td>{{ item["2PT%"] | percentage }}</td>
            <td>{{ item.3PM }}</td>
            <td>{{ item.3PA }}</td>
            <td>{{ item["3PT%"] | percentage }}</td>
            <td>{{ item.OReb }}</td>
            <td>{{ item.DReb }}</td>
            <td>{{ item.Assists }}</td>
            <td>{{ item.Steals }}</td>
            <td>{{ item.Blocks }}</td>
            <td>{{ item.TOV }}</td>
            <td>{{ item.TotalPoints }}</td>
            <td>{{ item.FGM }}</td>
            <td>{{ item.FGA }}</td>
            <td>{{ item["FG%"] | percentage }}</td>
            <td>{{ item.TotalRebounds }}</td>
            <td class=" sorttable_sorted">{{ item | fanpoints }}</td>
            <td>{{ item.Wins }}</td>
            <td>{{ item.Losses }}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
    <table class="stats-table sortable">
        <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Games</th>
            <th>FTM</th>
            <th>FTA</th>
            <th>FT%</th>
            <th>2PM</th>
            <th>2PA</th>
            <th>2P%</th>
            <th>3PM</th>
            <th>3PA</th>
            <th>3P%</th>
            <th>O Reb</th>
            <th>D Reb</th>
            <th>Assists</th>
            <th>Steals</th>
            <th>Blocks</th>
            <th>TOV</th>
            <th>Total Points</th>
            <th>FGM</th>
            <th>FGA</th>
            <th>FG%</th>
            <th>Total Rebounds</th>
            <th>Fan Points</th>
            <th>Wins</th>
            <th>Losses</th>
        </tr>
    {% for item in week.playerTotals %}
        {% if item.Team == 2 %}
        <tr>
            <td>{{ item.Player }}</td>
            <td>{{ item.Team }}</td>
            <td>{{ item.Games }}</td>
            <td>{{ item.FTM }}</td>
            <td>{{ item.FTA }}</td>
            <td>{{ item["FT%"] | percentage }}</td>
            <td>{{ item.2PM }}</td>
            <td>{{ item.2PA }}</td>
            <td>{{ item["2PT%"] | percentage }}</td>
            <td>{{ item.3PM }}</td>
            <td>{{ item.3PA }}</td>
            <td>{{ item["3PT%"] | percentage }}</td>
            <td>{{ item.OReb }}</td>
            <td>{{ item.DReb }}</td>
            <td>{{ item.Assists }}</td>
            <td>{{ item.Steals }}</td>
            <td>{{ item.Blocks }}</td>
            <td>{{ item.TOV }}</td>
            <td>{{ item.TotalPoints }}</td>
            <td>{{ item.FGM }}</td>
            <td>{{ item.FGA }}</td>
            <td>{{ item["FG%"] | percentage }}</td>
            <td>{{ item.TotalRebounds }}</td>
            <td class=" sorttable_sorted">{{ item | fanpoints }}</td>
            <td>{{ item.Wins }}</td>
            <td>{{ item.Losses }}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
    <table class="stats-table sortable">
        <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Games</th>
            <th>FTM</th>
            <th>FTA</th>
            <th>FT%</th>
            <th>2PM</th>
            <th>2PA</th>
            <th>2P%</th>
            <th>3PM</th>
            <th>3PA</th>
            <th>3P%</th>
            <th>O Reb</th>
            <th>D Reb</th>
            <th>Assists</th>
            <th>Steals</th>
            <th>Blocks</th>
            <th>TOV</th>
            <th>Total Points</th>
            <th>FGM</th>
            <th>FGA</th>
            <th>FG%</th>
            <th>Total Rebounds</th>
            <th>Fan Points</th>
            <th>Wins</th>
            <th>Losses</th>
        </tr>
    {% for item in week.playerTotals %}
        {% if item.Team == 3 %}
        <tr>
            <td>{{ item.Player }}</td>
            <td>{{ item.Team }}</td>
            <td>{{ item.Games }}</td>
            <td>{{ item.FTM }}</td>
            <td>{{ item.FTA }}</td>
            <td>{{ item["FT%"] | percentage }}</td>
            <td>{{ item.2PM }}</td>
            <td>{{ item.2PA }}</td>
            <td>{{ item["2PT%"] | percentage }}</td>
            <td>{{ item.3PM }}</td>
            <td>{{ item.3PA }}</td>
            <td>{{ item["3PT%"] | percentage }}</td>
            <td>{{ item.OReb }}</td>
            <td>{{ item.DReb }}</td>
            <td>{{ item.Assists }}</td>
            <td>{{ item.Steals }}</td>
            <td>{{ item.Blocks }}</td>
            <td>{{ item.TOV }}</td>
            <td>{{ item.TotalPoints }}</td>
            <td>{{ item.FGM }}</td>
            <td>{{ item.FGA }}</td>
            <td>{{ item["FG%"] | percentage }}</td>
            <td>{{ item.TotalRebounds }}</td>
            <td class=" sorttable_sorted">{{ item | fanpoints }}</td>
            <td>{{ item.Wins }}</td>
            <td>{{ item.Losses }}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
    <table class="stats-table sortable">
        <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Games</th>
            <th>FTM</th>
            <th>FTA</th>
            <th>FT%</th>
            <th>2PM</th>
            <th>2PA</th>
            <th>2P%</th>
            <th>3PM</th>
            <th>3PA</th>
            <th>3P%</th>
            <th>O Reb</th>
            <th>D Reb</th>
            <th>Assists</th>
            <th>Steals</th>
            <th>Blocks</th>
            <th>TOV</th>
            <th>Total Points</th>
            <th>FGM</th>
            <th>FGA</th>
            <th>FG%</th>
            <th>Total Rebounds</th>
            <th>Fan Points</th>
            <th>Wins</th>
            <th>Losses</th>
        </tr>
    {% for item in week.playerTotals %}
        {% if item.Team == 4 %}
        <tr>
            <td>{{ item.Player }}</td>
            <td>{{ item.Team }}</td>
            <td>{{ item.Games }}</td>
            <td>{{ item.FTM }}</td>
            <td>{{ item.FTA }}</td>
            <td>{{ item["FT%"] | percentage }}</td>
            <td>{{ item.2PM }}</td>
            <td>{{ item.2PA }}</td>
            <td>{{ item["2PT%"] | percentage }}</td>
            <td>{{ item.3PM }}</td>
            <td>{{ item.3PA }}</td>
            <td>{{ item["3PT%"] | percentage }}</td>
            <td>{{ item.OReb }}</td>
            <td>{{ item.DReb }}</td>
            <td>{{ item.Assists }}</td>
            <td>{{ item.Steals }}</td>
            <td>{{ item.Blocks }}</td>
            <td>{{ item.TOV }}</td>
            <td>{{ item.TotalPoints }}</td>
            <td>{{ item.FGM }}</td>
            <td>{{ item.FGA }}</td>
            <td>{{ item["FG%"] | percentage }}</td>
            <td>{{ item.TotalRebounds }}</td>
            <td class=" sorttable_sorted">{{ item | fanpoints }}</td>
            <td>{{ item.Wins }}</td>
            <td>{{ item.Losses }}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>    
</div>

<div id="Summary" class="tabcontent">
    <h3>Summary</h3>
    <table class="stats-table sortable">
        <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Games</th>
            <th>FTM</th>
            <th>FTA</th>
            <th>FT%</th>
            <th>2PM</th>
            <th>2PA</th>
            <th>2P%</th>
            <th>3PM</th>
            <th>3PA</th>
            <th>3P%</th>
            <th>O Reb</th>
            <th>D Reb</th>
            <th>Assists</th>
            <th>Steals</th>
            <th>Blocks</th>
            <th>TOV</th>
            <th>Total Points</th>
            <th>FGM</th>
            <th>FGA</th>
            <th>FG%</th>
            <th>Total Rebounds</th>
            <th>Fan Points</th>
            <th>Wins</th>
            <th>Losses</th>
        </tr>
    {% for item in week.playerTotals %}
        <tr>
            <td>{{ item.Player }}</td>
            <td>{{ item.Team }}</td>
            <td>{{ item.Games }}</td>
            <td>{{ item.FTM }}</td>
            <td>{{ item.FTA }}</td>
            <td>{{ item["FT%"] | percentage }}</td>
            <td>{{ item.2PM }}</td>
            <td>{{ item.2PA }}</td>
            <td>{{ item["2PT%"] | percentage }}</td>
            <td>{{ item.3PM }}</td>
            <td>{{ item.3PA }}</td>
            <td>{{ item["3PT%"] | percentage }}</td>
            <td>{{ item.OReb }}</td>
            <td>{{ item.DReb }}</td>
            <td>{{ item.Assists }}</td>
            <td>{{ item.Steals }}</td>
            <td>{{ item.Blocks }}</td>
            <td>{{ item.TOV }}</td>
            <td>{{ item.TotalPoints }}</td>
            <td>{{ item.FGM }}</td>
            <td>{{ item.FGA }}</td>
            <td>{{ item["FG%"] | percentage }}</td>
            <td>{{ item.TotalRebounds }}</td>
            <td class=" sorttable_sorted">{{ item | fanpoints }}</td>
            <td>{{ item.Wins }}</td>
            <td>{{ item.Losses }}</td>
        </tr>
    {% endfor %}
    </table>
</div>

<div id="Games" class="tabcontent">
    <h3>Games</h3>
    <table class="stats-table">
        <tr>
            <th>Date</th>
            <th>Player</th>
            <th>Team</th>
            <th>Opponent</th>
            <th>Game</th>
            <th>FTM</th>
            <th>FTA</th>
            <th>FT%</th>
            <th>2PM</th>
            <th>2PA</th>
            <th>2P%</th>
            <th>3PM</th>
            <th>3PA</th>
            <th>3P%</th>
            <th>O Reb</th>
            <th>D Reb</th>
            <th>Assists</th>
            <th>Steals</th>
            <th>Blocks</th>
            <th>TOV</th>
            <th>Total Points</th>
            <th>FGM</th>
            <th>FGA</th>
            <th>FG%</th>
            <th>Total Rebounds</th>
            <th>Fan Points</th>
            <th>Win/Loss</th>
        </tr>
    {% for item in week.games %}
        <tr>
            <td>{{ item.Date | statsdate }}</td>
            <td>{{ item.Player }}</td>
            <td>{{ item.Team }}</td>
            <td>{{ item.Opponent }}</td>
            <td>{{ item.Game }}</td>
            <td>{{ item.FTM }}</td>
            <td>{{ item.FTA }}</td>
            <td>{{ item["FT%"] | percentage }}</td>
            <td>{{ item.2PM }}</td>
            <td>{{ item.2PA }}</td>
            <td>{{ item["2PT%"] | percentage }}</td>
            <td>{{ item.3PM }}</td>
            <td>{{ item.3PA }}</td>
            <td>{{ item["3PT%"] | percentage }}</td>
            <td>{{ item.OReb }}</td>
            <td>{{ item.DReb }}</td>
            <td>{{ item.Assists }}</td>
            <td>{{ item.Steals }}</td>
            <td>{{ item.Blocks }}</td>
            <td>{{ item.TOV }}</td>
            <td>{{ item.TotalPoints }}</td>
            <td>{{ item.FGM }}</td>
            <td>{{ item.FGA }}</td>
            <td>{{ item["FG%"] | percentage }}</td>
            <td>{{ item.TotalRebounds }}</td>
            <td class=" sorttable_sorted">{{ item | fanpoints }}</td>
            <td>{{ item["Win/Loss"] }}</td>
        </tr>
    {% endfor %}
    </table>
</div>

<script>
    function openTab(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    } 
</script>