---
title: "Weekly Stats Home"
---

<div class="week-selection-drop-down">
    <label for"week-dropdown" class="dropdown-label">Week:</label>
    <select name="week-dropdown" id="week-dropdown" class="dropdown">
        <option selected value="{{ '/weekly-stats-home/' | url }}">Unselected</option>
    {% for availableWeek in stats.availableWeeks.allWeeks %}
        {% set dateValue = ["/weekly-stats/", availableWeek, "/"] | join %}
        <option value="{{ dateValue | url }}">{{ availableWeek }}</option>
    {% endfor %}
    </select>
</div>

<script type="text/javascript">
    var urlmenu = document.getElementById('week-dropdown');
    urlmenu.onchange = function() {
        window.location = `${this.options[this.selectedIndex].value}`;
    };
</script>