---
layout: base-weekly-stats.njk
pagination:
    data: stats.weeklyStats
    size: 1
    alias: week
permalink: "weekly-stats/{{ week.date | url }}/"
---

<div class="week-selection-drop-down">
    <select name="week-dropdown" id="week-dropdown">
        <option value="{{ '/week-stats-home/' | url }}">Unselected</option>
    {% for availableWeek in stats.availableWeeks %}
        {% set dateValue = ["/weekly-stats/", availableWeek, "/"] | join %}
        <option {% if availableWeek === week.date %} 
                    selected=true 
                {% endif %} value="{{ dateValue | url }}">{{ availableWeek }}</option>
    {% endfor %}
    </select>
</div>

<script type="text/javascript">
    var urlmenu = document.getElementById('week-dropdown');
    urlmenu.onchange = function() {
        window.location = `${this.options[this.selectedIndex].value}`;
    };
</script>

