---
title: "Yearly Stats"
---
<table id="yearlyStatsTable" class="stats-table sortable">
    <tr>
        <th>Player</th>
        <th>Games</th>
        <th>FTM</th>
        <th>FTA</th>
        <th>FT%</th>
        <th>2PM</th>
        <th>2PA</th>
        <th>2P%</th>
        <th>3PM</th>
        <th>3PA</th>
        <th>3P%</th>
        <th>O Reb</th>
        <th>D Reb</th>
        <th>Assists</th>
        <th>Steals</th>
        <th>Blocks</th>
        <th>TOV</th>
        <th>Total Points</th>
        <th>FGM</th>
        <th>FGA</th>
        <th>FG%</th>
        <th>Total Rebs</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Fan Points</th>
    </tr>
{% for item in stats.yearlyStats %}
    <tr>
        <td>{{ item.Player }}</td>
        <td>{{ item.Games }}</td>
        <td>{{ item.FTM }}</td>
        <td>{{ item.FTA }}</td>
        <td>{{ item["FT%"] | percentage }}</td>
        <td>{{ item.2PM }}</td>
        <td>{{ item.2PA }}</td>
        <td>{{ item["2PT%"] | percentage }}</td>
        <td>{{ item.3PM }}</td>
        <td>{{ item.3PA }}</td>
        <td>{{ item["3PT%"] | percentage }}</td>
        <td>{{ item.OReb }}</td>
        <td>{{ item.DReb }}</td>
        <td>{{ item.Assists }}</td>
        <td>{{ item.Steals }}</td>
        <td>{{ item.Blocks }}</td>
        <td>{{ item.TOV }}</td>
        <td>{{ item.TotalPoints }}</td>
        <td>{{ item.FGM }}</td>
        <td>{{ item.FGA }}</td>
        <td>{{ item["FG%"] | percentage }}</td>
        <td>{{ item.TotalRebounds }}</td>
        <td>{{ item.Wins }}</td>
        <td>{{ item.Losses }}</td>        
        <td>{{ item | fanpoints }}</td>
    </tr>
{% endfor %}
</table>