---
title: "Yearly Stats"
---

<div class="yearly-min-games-filter">
    <select name="yearly-min-games-dropdown" id="yearly-min-games-dropdown">
        <option value="0">All</option>
        <option value="10">10</option>
        <option value="30">30</option>
        <option value="50">50</option>
    </select>
</div>

<script type="text/javascript">
    var selectedFilters = {
        games: ""
    };

    var urlmenu = document.getElementById('yearly-min-games-dropdown');
    urlmenu.onchange = function() {        
        filterByGames(this.options[this.selectedIndex].value);
    };

    function filterByGames(games) {
        let querySelector = `[data-min-0-games=true]`;
        switch (games) {
            case "10":
                querySelector = `[data-min-10-games=true]`;
            break;
            case "30":
                querySelector = `[data-min-30-games=true]`;
            break;
            case "50":
                querySelector = `[data-min-50-games=true]`;
            break;            
        }

        selectedFilters.games = querySelector;

        applyFilters();

    }    

    function applyFilters(){
        // Use any class here, just hide all the items.
        document.querySelectorAll("tr[data-games]").forEach(i => {
            i.setAttribute("hidden", true);
        });

        let combinedQuerySelectors = selectedFilters.games;

        document.querySelectorAll(combinedQuerySelectors).forEach(i => {
            i.removeAttribute("hidden");
        });
    }
</script>

<table id="yearlyStatsTable" class="stats-table sortable">
    <tr>
        <th>Player</th>
        <th>Games</th>
        <th>FTM</th>
        <th>FTA</th>
        <th>FT%</th>
        <th>2PM</th>
        <th>2PA</th>
        <th>2P%</th>
        <th>3PM</th>
        <th>3PA</th>
        <th>3P%</th>
        <th>O Reb</th>
        <th>D Reb</th>
        <th>Assists</th>
        <th>Steals</th>
        <th>Blocks</th>
        <th>TOV</th>
        <th>Total Points</th>
        <th>FGM</th>
        <th>FGA</th>
        <th>FG%</th>
        <th>Total Rebs</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Fan Points</th>
    </tr>
{% for item in stats.yearlyStats %}
    <tr data-games="{{ item.Games }}"
        data-min-0-games=true
        {% if item.Games >= 10 %}data-min-10-games=true{% endif %}
        {% if item.Games >= 30 %}data-min-30-games=true{% endif %}
        {% if item.Games >= 50 %}data-min-50-games=true{% endif %}
        >
        <td>{{ item.Player }}</td>
        <td>{{ item.Games }}</td>
        <td>{{ item.FTM }}</td>
        <td>{{ item.FTA }}</td>
        <td>{{ item["FT%"] | percentage }}</td>
        <td>{{ item.2PM }}</td>
        <td>{{ item.2PA }}</td>
        <td>{{ item["2PT%"] | percentage }}</td>
        <td>{{ item.3PM }}</td>
        <td>{{ item.3PA }}</td>
        <td>{{ item["3PT%"] | percentage }}</td>
        <td>{{ item.OReb }}</td>
        <td>{{ item.DReb }}</td>
        <td>{{ item.Assists }}</td>
        <td>{{ item.Steals }}</td>
        <td>{{ item.Blocks }}</td>
        <td>{{ item.TOV }}</td>
        <td>{{ item.TotalPoints }}</td>
        <td>{{ item.FGM }}</td>
        <td>{{ item.FGA }}</td>
        <td>{{ item["FG%"] | percentage }}</td>
        <td>{{ item.TotalRebounds }}</td>
        <td>{{ item.Wins }}</td>
        <td>{{ item.Losses }}</td>        
        <td>{{ item | fanpoints }}</td>
    </tr>
{% endfor %}
</table>